@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    color: white;
    background-color: black;
}


#net{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.intro-heading {
    font-size: 24px;
    color: white;
}
.project-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.project-box img {
    width: 100%;
    max-width: 200px; /* Adjust this value according to your preference */
}

.project-description {
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-top: none;
    width: 100%;
}

.intro-title {
    position: relative;
    font-size: 36px; /* Adjust the font size as needed */
   font-weight: bold;
    color: #e5dbdb;
    margin-top: 20px;
}
.intro-description {
    font-size: 18px;
    color: #666;
    margin-top: 10px;
}

/*navbar*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    padding-left: 10px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    overflow: hidden;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    letter-spacing: 5px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideUP .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: white;
    text-decoration: underline;
}

/*home*/

.home {
    font-family: Poppins;
    position: relative;
    width: 100%;
    justify-content: space-between;
    min-height: 100vh;
    background-color: black;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-family: Poppins;
    font-weight: 700;
    margin: -3px 0;
    letter-spacing: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h4 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home-content h4 span {
    color: white;
    font-size: 32px;
    font-weight: 700;
}

.home-content h4:nth-of-type(2) {
    margin-bottom: 30px;

}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home-sci a:hover {
    background: white;
    color: #000;
    box-shadow: 0 0 20px white;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: white;
    border-radius: 40px;
    font-size: 15px;
    text-align: center;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.btn-box:hover {
    box-shadow: 0 0 5px white, 0 0 25px white, 0 0 50pc white, 0 0 100px white, 0 0 200px white;
}

.img {
  display: inline-block;
  left: 95%; /* Adjusted the left position to shift the image more towards the right */
  bottom: 15%;
  margin-right: 5%;
  padding: -100; /* This line doesn't make sense, so I removed it */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  opacity: 0;
  animation: slideUP 1s ease forwards;
  animation-delay: 1s;
  width: 500px; /* Increased the width of the image */
  height: auto; /* Allowing the height to adjust automatically based on the width */
}


.responsive {
    width: 100%;
    height: auto;
    border-top-left-radius: 251px;
    border-top-right-radius: 251px;
    border-bottom-left-radius: 251px;
    border-bottom-right-radius: 251px;
}

/*about*/

/* Define common styles */
.about,
.about-text,
.about-text h2,
.about-text p,
.abtbtn-box {
    font-family: Poppins;
}

.about 
{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust column widths based on available space */
    /* Add gap between grid items */
    justify-content: space-between;
    padding-left: 100px;
}
.center-text {
  text-align: center;
  margin-bottom: 20px;
}

.about-text {
    margin-right: 2%;
}

.about-text h2 {
  font-family: Poppins;
    font-size: 60px;
    letter-spacing: 5px;
}

.about-text h2 span {
    color: white;
}

.about-text p {
  font-family: Poppins;
    color: aliceblue;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 2px;
    margin-bottom: 4rem;
    text-align: justify;
    text-justify: inter-word;
}

.abtbtn-box {
  display: inline-block;
  background: white;
  border-radius: 40px;
  font-size: 15px;
  text-align: center;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .about {
        grid-template-columns: 1fr; /* Display one column for smaller screens */
        padding: 0 5%; /* Adjust padding */
    }
}


/* Projects */
#Projects {
    background-color: #000;
    border-radius: 15px;
    padding-top: -100px;
    position: relative;
    padding-bottom: 100px;
    padding-left: 60px;
    padding-right: 60px;
}

/* Main Text */
.main-text {
    padding-top: 50px;
    margin-top: 10px;
    padding-bottom: 130px;
}

.main-text h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
    padding: 50px;
    padding-bottom: 110px;
}

.main-text h2 span {
    color: white;
}

/* Service Container */
.serv-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 60px;
    
    align-items: center;
    justify-content: space-around;
}

/* Project Box */
.project-box {
    background-color: #333;
    border-radius: 15px;
    overflow: hidden;
}

.project-box img {
    width: 100%;
    max-width: 100%; /* Modified to fit container */
    height: auto; /* Added to maintain aspect ratio */
    display: block;
    border-radius: 15px 15px 0 0;
}

/* Project Description */
.project-description {
    padding: 20px;
    color: black;
}

.project-description h5 {
    margin-top: 0;
    font-size: 20px;
}

.project-description p {
    margin-bottom: 0;
}

.project-description a {
    display: block;
    text-align: center;
    margin-top: 20px;
}

/* Hover Effect */
/* Project Box */
.project-box {
    position: relative;
    background-color: #333;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease; /* Added transition for smooth animation */
}

/* Pseudo-element for white border */
.project-box::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background-color: white;
    z-index: -1;
    border-radius: 20px;
    transition: transform 0.3s ease; /* Added transition for smooth animation */
}

.project-box:hover::before {
    transform: translate(-10px, 10px); /* Move the white border 10px to the left and down on hover */
}

.project-box img {
    width: 100%;
    max-width: 100%; /* Modified to fit container */
    height: auto; /* Added to maintain aspect ratio */
    display: block;
    border-radius: 15px 15px 0 0;
    transition: transform 0.3s ease; /* Added transition for smooth animation */
}

.project-box:hover img {
    transform: translateX(10px); /* Move the image 10px to the right on hover */
}

/* Hover Effect */
.project-box:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 1;
}




/* Service*/

#Services{
    background-color: #000;
}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-top: 0px;
    padding-bottom: 70px;
}

.sub-title span {
    color: white;
}

.prj-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.prj-list div {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    /*box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;*/
    border: white 5px solid;
}

.container {
    padding: 50px;

}

.prj-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.prj-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.prj-list div a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read {
    display: inline-block;
    padding: 12px 20px;
    background: white;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
}

.read:hover {
    box-shadow: 0 0 5px white, 0 0 25px white, 0 0 50pc white, 0 0 100px white, 0 0 200px white;
}

.prj-list div:hover {
    transform: translateY(-2px);
}


/*contacts*/

.background {
  background-color: #000;
  padding: 20px;
}

.container {
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.screen {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  max-width: 840px;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.title {
  text-align: center;
  margin-bottom: 25px;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-fields,
.msg {
  width: 100%;
}

.input-fields .input,
.msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}

.msg textarea {
  height: 212px;
}

.btn {
  cursor: pointer;
  background: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s;
}

.btn:hover {
  background: #2980b9;
}

@media (min-width: 768px) {
  .input-fields,
  .msg {
    width: 48%;
  }
}

/* .btn {
    background: white;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
} */

/* @media screen and (max-width: 600px){
  .contact-form{
    flex-direction: column;
  }
  .msg textarea{
    height: 80px;
  }
  .input-fields,
  .msg{
    width: 100%;
  }
} */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    padding-bottom: 100px;
  }
  
  /* #contact {
    width: 100%;
    height: 100%;
  } */
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
  }
  
  @media (min-width: 768px) {
    .contact-wrapper {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  
  /* Left contact page */
  
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 0 auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }
.contact-box {
    background-color: black; /* Dark Blue Color */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 40px;
    margin: 20px auto; /* Adjust margin as needed */
    max-width: 600px; /* Adjust max-width as needed */
  }
  
  .contact-content {
    text-align: center;
    color: #fff; /* Text color */
  }
  
  .contact-text h2 {
    font-size: 60px;
    line-height: normal;
    text-align: center;
  }
  
  .contact-text h2 span {
    color: white; /* Color for the span */
  }
  
  .contact-text h4 {
    margin: 15px 0;
    font-size: 20px;
    font-weight: 600;
  }
  
  .contact-form {
    margin-bottom: 20px;
  }
  .contact-form .form-group {
  margin-bottom: 15px; /* Adjust the margin as needed */
}

  .contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 0px 15px 0px 0;
    transition: all 0.4s ease;
  }
  
  .contact-icons i:hover {
    background: white;
    color: #000;
    box-shadow: 0 0 20px white;
  }
  
  *, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    background: linear-gradient(to right, black 0%, black);
    font-size: 12px;
  }
  
  body, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: black;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: white;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: white;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #b9134f;
  }
  
  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  
  .credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  
@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 180;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 140;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 90;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 50;
    }
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

@keyframes animate {

    100% {
        transform: scaleX(1);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideUP {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media (max-width: 900px) and (min-width: 700px) {
    .header{
        display:block;
    }
    .logo {
        position: relative;
        font-size: 30px;
        font-weight: 500;
        text-align: center;
    }
    .logo::after{
        content: "\a";
        white-space: pre;
    }
    .navbar a {
        font-size: 25px;
        font-weight: 200;
        margin-left: 0px;
        padding: 10px 10px 0 0;
    }
    .navbar a::after{
        content: "\a";
        white-space: pre;
    }
    
}

@media (max-width: 700px) and (min-width: 400px) {
    *{
        overflow-x: hidden;
        overflow-y: inherit;
    }
    /*navbar*/
    .header{
        display:block;
        
    }
    .logo {
        position: relative;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }
    .logo::after{
        content: "\a";
        white-space: pre;
    }
    .navbar a {
        font-size: 15px;
        font-weight: 200;
        margin-left: 0px;
        padding: 10px 10px 0 0;
    }
    .navbar a::after{
        content: "\a";
        white-space: pre;
    }

    /*home*/
    .home{
        align-items: normal;
        padding-top: 40%;
        padding-bottom: 0;
    }
    .home-content h1 {
        font-size: 40px;
        font-weight: 600;
    }
    
    .home-content h3 {
        font-size: 30px;
        font-weight: 300;
    }
    
    .home-content h4 {
        font-size: 18px;
        font-weight: 200;
    }
    
    .home-content h4 span {
        font-size: 18px;
        font-weight: 200;
    }
    .img{
        max-width: 400px;
        position: relative;
        left: -10%;
        top: 2%;
        padding-bottom: 30px;
        padding-left: 0;
        margin-left: 0;
    }
    .btn-box:hover {
        box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15pc white, 0 0 20px white, 0 0 25px white;
    }
    /*about*/
    .about{
        padding-bottom: 20px;
        min-height: auto;
    }
    .about-text h2 {
        font-size: 30px;
        letter-spacing: 5px;
    }
    
    .about-text p {
        font-size: 15px;
        line-height: normal;
        letter-spacing: 1px;
        margin-bottom: 4rem;
        text-align: left;
    }
    .abtbtn-box:hover {
        box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15pc white, 0 0 20px white, 0 0 25px white;
    }

    /*skills*/
    .subtitle{
        font-size: 50px;
        text-align: center;
    }
    .container1 {
        width: 600px;
        max-height: 500px;
        padding: 20px;
        margin-left: 50px;
    }
    .container2 {
        width: 600px;
        max-height: 500px;
        padding: 10px;
        margin-left: 0px;
    }
    .bar .info .addhtml::before{
        content: "90%";
    }
    .bar .info .addcss::before{
        content: "80%";
    }
    .bar .info .addpy::before{
        content: "75%";
    }
    .bar .info .addjava::before{
        content: "50%";
    }
    .bar .info .addc::before{
        content: "50%";
    }

    /*project*/
    .main-text {
        padding-top: 20px;
        margin-top: 10px;
        padding-bottom: 50px;
    }
    .main-text h2 {
        font-size: 50px;
        padding-bottom: 15px;
    }
    .layer p {
        line-height: normal;
    }
    /*service*/
    .sub-title {
        font-size: 50px;
        padding-bottom: 50px;
    }
    .prj-list div{
        padding: 20px;
    }
    /*contact*/
    .contacts h2{
        font-size: 50px;
    }
    .contact-list i{
        font-size: 15px;
        padding: 5px 5px 0 0;
    }
    
    .top{
        position: fixed;
        bottom: 2rem;
        left: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        opacity: 0;
        transition: all .4s;
    }
    
}

@media (max-width: 400px) {
    *{
        overflow-x: hidden;
    }
    .header{
        display:block;
    }
    .logo {
        position: relative;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }
    .logo::after{
        content: "\a";
        white-space: pre;
    }
    .navbar a {
        font-size: 13px;
        font-weight: 200;
        margin-left: 0px;
        padding: 10px 4px 0 0;
    }
    .navbar a::after{
        content: "\a";
        white-space: pre;
    }

    /*home*/
    .home{
        width: 100%;
        align-items: normal;
        padding-top: 40%;
        padding-bottom: 0;
    }
    .home-content h1 {
        font-size: 30px;
        font-weight: 600;
    }
    
    .home-content h3 {
        font-size: 20px;
        font-weight: 300;
    }
    
    .home-content h4 {
        font-size: 15px;
        font-weight: 200;
    }
    
    .home-content h4 span {
        font-size: 15px;
        font-weight: 200;
    }
    .btn-box:hover {
        box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15pc white, 0 0 20px white, 0 0 25px white;
    }
    .img{
        max-width: 300px;
        position: relative;
        left: -10%;
        top: 2%;
        padding-bottom: 30px;
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
    }
    
    /*about*/
    .about{
        padding-bottom: 20px;
        min-height: auto;
    }
    .about-text h2 {
        font-size: 30px;
        letter-spacing: 5px;
    }
    
    .about-text p {
        font-size: 15px;
        line-height: normal;
        letter-spacing: 0px;
        margin-bottom: 4rem;
        text-align: left;
    }
    .abtbtn-box:hover {
        box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15pc white, 0 0 20px white, 0 0 25px white;
    }

    /*skills*/
    .subtitle{
        font-size: 50px;
        text-align: center;
    }
    .container1 {
        width: 600px;
        max-height: 500px;
        padding: 20px;
        margin-left: 50px;
    }
    .container2 {
        width: 600px;
        max-height: 500px;
        padding: 10px;
        margin-left: 0px;
    }
    .radial-bar .text{
        left: 25%;
    }
    .bar .info .addhtml::before{
        content: "90%";
    }
    .bar .info .addcss::before{
        content: "80%";
    }
    .bar .info .addpy::before{
        content: "75%";
    }
    .bar .info .addjava::before{
        content: "50%";
    }
    .bar .info .addc::before{
        content: "50%";
    }

    /*project*/
    .main-text {
        padding-top: 20px;
        margin-top: 10px;
        padding-bottom: 50px;
    }
    .main-text h2 {
        font-size: 50px;
        padding-bottom: 15px;
    }
    .layer p {
        line-height: normal;
    }

    /*service*/
    .sub-title {
        font-size: 50px;
        padding-bottom: 50px;
    }

    /*contact*/
    .contacts h2{
        font-size: 50px;
    }
    .contact-list i{
        font-size: 13px;
        padding: 5px 5px 0 0;
    }
    
    .top{
        position: fixed;
        bottom: 2rem;
        left: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        opacity: 0;
        transition: all .4s;
    }
    .top i{
        color: #000;
    }
}
